<h1>Post List</h1>

<table>
  <thead>
  <td>Title</td>
  <td>&nbsp</td>
  <td>Content</td>
  <td>&nbsp</td>
  <td>Category</td>
  <td>&nbsp</td>
  <td>User</td>
  <td>&nbsp</td>
  <td>Action</td>
  </thead>
  <%= link_to 'New', new_post_path %>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td>&nbsp</td>
      <td><%= post.content %></td>
      <td>&nbsp</td>
      <td><%= post.categories.pluck(:name).join(',') %></td>
      <td>&nbsp</td>
      <td><%= post.user&.email %></td>
      <td>&nbsp</td>
      <td>
        <%= link_to 'Show', post_path(post) %> <br>
        <%= link_to 'Edit', edit_post_path(post) if user_signed_in? && post.user == current_user %>
        <%= button_to 'Delete', post_path(post), method: :delete if user_signed_in? && post.user == current_user %>
        <%= link_to 'Comments', post_comments_path(post) %> <br>
        <%= link_to 'New Comment', new_post_comment_path(post) %>
      </td>
    </tr>
  <% end %>
</table>

